@font-face {
    font-family: 'fairfaxhd';
    src: url('../fonts/fairfaxhd.ttf') format('truetype');
}

body {
    background-color: #000;
    text-align: center;
}

pre {
    display: inline-block;
    text-align: left;
    color: #fff;
    font-family: fairfaxhd, monospace;
    margin: 0;
    line-height: 1;
    /*font-size: 3.75vh;*/
    font-size: 3.07vh;
}

.a {
    color: palegoldenrod;
    background-color: black;
}

.b {
    color: black;
    background-color: black;
}

.c {
    color: yellow;
    background-color: cadetblue;
}

.d {
    color: aquamarine;
    background-color: cadetblue;
}

.e {
    color: red;
    background-color: cadetblue;
}

.f {
    color: palevioletred;
    background-color: black;
}

.p1 {
    color: red;
    background-color: black;
}

.p2 {
    color: orange;
    background-color: black;
}

.p3 {
    color: yellow;
    background-color: black;
}

.p4 {
    color: green;
    background-color: black;
}

.p5 {
    color: cyan;
    background-color: black;
}

.p6 {
    color: blue;
    background-color: black;
}

.p7 {
    color: purple;
    background-color: black;
}

.p8 {
    color: deeppink;
    background-color: black;
}

.p9 {
    color: deepskyblue;
    background-color: black;
}

.p10 {
    color:   silver ;
    background-color: black;
}

.p11 {
    color: maroon;
    background-color: black;
}

.p12 {
    color:   chartreuse;
    background-color: black;
}

.p13 {
    color:  grey;
    background-color: black;
}

.p14 {
    color:  plum;
    background-color: black;
}

.p15 {
    color:    mediumpurple;
    background-color: black;
}


.g {
    color: gold;
    background-color: black;
}

.h {
    color: red;
    background-color: black;
}

.i {
    color: green;
    background-color: black;
}

.j {
    color: darkred;
    background-color: black;
}

.k {
    color: blueviolet;
    background-color: black;
}

.l {
    color: yellow;
    background-color: black;
}